* {
    box-sizing: border-box;
}

body {
    font-family: 'Bitter', serif;
}

header h1 {
    margin: 0;
    padding: 25px 0px;
    text-align: center;
    background-color: #2D3945;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4em;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.signupl {
    margin: 5px 0;
    border-bottom: 4px solid black;
}
.signupl h1 {
    font-size: 1.2em;
}
.signupl p {
    color: #AAAFB4;
}

fieldset {
    border: none;
    padding: 0 0 15px 0;
}

fieldset legend {
    padding-top: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

form p,
form h1 {
    text-align: center;
}

.container,
form {
    display: flex;
    flex-direction: column;
}

.cont {
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
}

input,
select,
textarea {
    border: none;
    background: #EFF0F1;
    border-radius: 5px;
    width: 100%;
}
input {
    padding-left: 10px;
}
input,
select {
    height: 50px;
    margin-top: 15px;
    flex-shrink: 1;
}

label {
    margin-top: 15px
}

input:placeholder-shown{
    padding-right: 20px;
    padding-left: 10px;
    text-align: left;
    font-style: italic;
}

input::placeholder {
     /*padding-right: 20px;*/
     text-align: right;
     /*font-style: italic;*/
 }

select:required:invalid {
    color: #999;
    padding-left: 20px;
}
option[value=””][disabled] {
    display: none;
}
option {
    color: #000;
}

.check_container {
    display: flex;
    align-items: baseline;
    height: 50px;
}

input[type="radio"],
input[type="checkbox"]{
    width: auto;
    height: auto;
    margin-right: 15px;
}

input[type="text"]#zip {
    width: 30%;
}

textarea {
    margin-top: 15px;
}

button[type="submit"] {
    height: 50px;
    background-color: #4EBBB5;
    color: white;
    border: none;
    border-radius: 5px;
}

/*input#zip {*/
    /*align-self: flex-end;*/
/*}*/
.li_cont {
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    color: #999;
}

input:focus {
    border: 2px solid #46698B;
}

@media (min-width: 768px) {
    .container {
        max-width: 800px;
        width: 80%;
    }

    .cont {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        align-content: space-between;
    }

    .li_cont {
        display: flex;
        flex-direction: row;
    }
    input,
    select {
        width: 80%;
    }
    .li_cont label{
        flex-basis: 20%;
    }
}